<!DOCTYPE html>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="background-color:grey;color:white">
        @{
            Html.RenderPartial("ParsialNavbar");
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color:darkgrey">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application using Layout2 UI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
